{% extends 'base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}

<div id="margin-t" class="container text-center">
    <h1 class="text-light text-center">Créer une annonce</h1>

    {{ include('annonces/_form.html.twig') }}

    <a class="btn btn-primary mt-2 mb-4 border-light" href="{{ path('user_index') }}">Retour au profil</a>
</div>

{% endblock %}
