{% extends 'base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}

    <div id="margin-t" class="container">
        <h1 class="text-light text-center">Créer une annonce</h1>
        <div class="card w-75 mx-auto bg-transparent border-0 mx-auto">
            <div class="card-body mx-auto">
                <ul class="fs-3 list-unstyled text-light">
                    <li>1: Entrez le titre de l"annonce.</li>
                    <li>2: Rédigez le contenu de votre annonce.</li>
                    <li>3: Pour choisir votre catégorie cliquez dans le champ "Catégories".</li>
                    <li>4: Cliquez sur "Parcourir..." si vous désirez joindre une image.</li>
                    <li>5: Validez votre annonce.</li>
                </ul>
            </div>
        </div>

        {{ include('annonces/_form.html.twig') }}

        <a class="btn btn-primary mt-2 mb-4 border-light" href="{{ path('user_index') }}">Retour au profil</a>
    </div>


{% endblock %}
