{% extends 'base.html.twig' %}

{% block title %}{{ annonce.title }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div id="margin-t" class="container">
        <h1 class="text-light text-center mb-5">Détail de l'annonce</h1>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for image in annonce.images %}
                    <div class="carousel-item active">
                        <img src="{{ asset(('./uploads/images/annonces/' ~ image.name)|imagine_filter('banniere')) }}" class="d-block w-100" alt="{{ annonce.title }}">
                    </div> 
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}



















