
<footer class="bd-footer py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 text-light mx-auto">
        <p>Nous suivre sur</p>
          <div>
            <p><a href="https://twitter.com/" title="Compte Twitter de libre & change" class="text-white text-decoration-none" target="_blank"><span class="fab fa-twitter-square logo"></span> Twitter</a></p>
            <p><a href="https://www.instagram.com/?hl=fr" title="Compte Instagram de libre & change" class="text-white text-decoration-none" target="_blank"><span class="fab fa-instagram-square logo"></span> Instagram</a></p>
            <p><a href="https://facebook.com" title="Compte Facebook de libre & change" class="text-white text-decoration-none" target="_blank"><span class="fab fa-facebook-square logo"></span> Facebook</a></p>
          </div>
      </div>
      <div class="col-lg-2 text-light mx-auto">
        <a class="text-decoration-none" href="{{ path('annonces_vue') }}"> Toutes les annonces</a>
      </div>
      <div class="col-lg-2 text-light mx-auto">
          <a class="text-decoration-none" href="{{ path('apropos') }}"> À propos du site</a>
      </div>
      <div class="col-lg-2 text-light mx-auto">
           <a class="text-decoration-none" href="{{ path('mentions') }}">Mentions légales</a>
      </div>
      </div>
    </div>
  </div>
</footer>