
<footer class="bd-footer py-4 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 text-light mx-auto">
        <p class="text-uppercase">Nous suivre sur</p>
          <div>
            <p><a href="https://twitter.com/" title="Compte Twitter du développeur du site" class="text-white text-decoration-none" target="_blank"><span class="fab fa-twitter-square logo"></span> Twitter</a></p>
            <p><a href="https://www.instagram.com/?hl=fr" class="text-white text-decoration-none" target="_blank"><span class="fab fa-instagram-square logo"></span> Instagram</a></p>
            <p><a href="https://facebook.com" title="Page Facebook du développeur du site" class="text-white text-decoration-none" target="_blank"><span class="fab fa-facebook-square logo"></span> Facebook</a></p>
          </div>
      </div>
      <div class="col-lg-3 text-light mx-auto text-uppercase">
        <a href="{{ path('annonces_vue') }}" class"text-danger"> Toutes les annonces</a>
      </div>
      <div class="col-lg-3 text-light mx-auto text-uppercase">
           Mentions légales
      </div>
    </div>
  </div>
</footer>