{% extends 'base.html.twig' %}

{% block title %}Reinitialiser le mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div id="margin-t" class="container text-center">
        <div class="card w-75 mx-auto bg-transparent border-0 mx-auto">
            <div class="card-body mx-auto">
                <h1 class="text-light">Reinitialiser le mot de passe</h1>

                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small class="text-light">
                            Entrez votre adresse email et nous vous enverrons un 
                            lien sur votre messagerie afin de reinitialiser votre mot de passe.
                        </small>
                    </div>

                    <button class="btn btn-primary border-light">Envoyer</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
