{% extends 'menu/index.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<div id="margin-t" class="containertext-center">
    <h1 class="text-light">Changer le mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Valider</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
