{% extends 'base/rebase.html.twig' %}

{% block title %}À propos du site{% endblock %}

{% block body %}
    <div id="margin-t" class="container">
        <h1 class="text-center mt-5 text-light">Le rendez-vous des professionnels de la plâtrerie </h1>
        <div class="card w-75 mx-auto bg-transparent border-0">
            <div class="card-body mx-auto">
                <p class="text-white fs-3">Libre & Change a pour vocation la relation bilatérale entre les entreprises</br>de plâtrerie-isolation-rénovation.</p> 
                    <ol class="text-white fs-5">
                        <h2 class="text-white">Avis aux adhérents.</h2>
                        <li>L'hadhésion ainsi que La publication des annonces est totalement gratuite.</br> 
                        <li>L'administrateur du site n'a pas vocation à vérifier systématiquement les informations publiées et sa responsabilité ne pourra en aucun cas être engagée en cas litige de quelque nature que ce soit.</li>
                        <li>L'administrateur du site invite ses adhérants à vérifier par eux-mêmes les sources publiées et invite à la prudence.</li>
                        <li>L'administrateur recommande de ne jamais payer d'avance, de ne jamais communiquer ses références bancaires et se méfier des exigences de paiement par coupon PCS.</li>
                        <li>L'administrateur se réserve le droit de suppression des annonces et dénonciation des adhérants contrevenants auprès des forces de l'ordre sans avis préalable ni délai.</li>
                        <li>Les adhérants peuvent se désinscrire sur simple demande en contactant l'administrateur.</li>
                        <h2 class="text-white">Avis aux fournisseurs de matériaux pour la construction.</h2>
                        <li>La publication des annonces est exclusivement réservée aux professionnels du terrain.</br> 
                            Par conséquent, les fournisseurs de matériaux pour la construction sont invités à</br> 
                            contacter l'administrateur pour prendre connaissance des modalités visant à diffuser des offres de ventes promotionnelles.</li>
                        <li>Un espace payant dédié à la publicité permanente du logo de l'enseigne diffuseuse, ainsi qu'un accès exclusif pour la rédaction des annonces sera réservé à cet effet.</li>
                    </ol> 
            </div>
        </div>
    </div>
    {% include 'base/footer.html.twig' %}
{% endblock %}
