{% extends 'base/rebase.html.twig' %}

{% block title %}À propos du site{% endblock %}

{% block body %}
    <div id="margin-t" class="container">
        <h1 class="text-center mt-5 text-light">Le rendez-vous des professionnels de la plâtrerie </h1>
        <h2 class="text-center mt-5 text-light">Conditions générales d'utilisation</h2>
        <div class="card w-75 mx-auto bg-transparent border-0">
         <p class="text-white fs-3 text-center">Libre & Change a pour vocation la relation bilatérale entre les entreprises de plâtrerie-isolation-rénovation.</p> 
            <div class="card-body mx-auto">
               
                    <ol class="text-white fs-5">
                        <h2 class="text-white">Avis aux adhérents.</h2>
                        <li>L'hadhésion ainsi que La publication des annonces est totalement gratuite.</li> 
                        <li>Le site Libre & Change ne met à disposition aucun moyen de paiement, aucun espace d'échange permettant la communication entre adhérants ou utilisateurs.</li>
                        <li> Libre & Change ne participe à aucune négociation et ne perçoit aucune commission.</li>
                        <li>L'administrateur du site n'a pas vocation à vérifier systématiquement les informations publiées et sa responsabilité ne pourra en aucun cas être engagée en cas de litige de quelque nature que ce soit.</li>
                        <li>L'administrateur du site exhorte ses adhérants à vérifier par eux-mêmes les sources publiées et invite à la prudence. Pour en savoir plus sur les arnaques internet cliquez sur <a href ="https://www.youtube.com/channel/UCnC8KCcp2-DYfPY4_bKIc0A" target="_blank" >Sandoz</a></li>
                        <li>L'administrateur recommande de ne jamais payer d'avance, de ne jamais communiquer ses références bancaires et se méfier des exigences de paiement par coupon PCS.</li>
                        <li>L'administrateur se réserve le droit de suppression des annonces qui serait susceptible de porter atteinte aux droits d'un tiers, de la radiation des adhérants, et de dénonciation des contrevenants auprès des forces de l'ordre sans avis préalable ni délai.</li>
                        <li>Il est permis à tout utilisateur de signaler un contenu abusif à partir du site par mail en cliquant sur le lien "contact".</li>
                        <h2 class="text-white">Règles de confidentialités.</h2>
                        <li>Conformément aux dispositions de l’article 34 de la loi n° 48-87 du 6 janvier 1978, modifié en 2004, dite loi « informatique et libertés », l’utilisateur bénéficie d’un droit d’accès, de rectification ou de suppression des informations qui le concernent.</li>
                        <li>Les adhérents bénéficient sur leurs profils utilisateurs, du droit de modification et d'exportation des données personnelles (RGPD).</li>
                        <li>L'adhérent peut se désinsrire à tout moment. Pour exercer ce droit, l’utilisateur envoie à l'administrateur sa demande par message en cliquant sur "Contact".</li>
                        <li>A l’occasion de l’utilisation du site, Libre & Change et en particulier lors du remplissage de nos formulaires d'inscription et de contact, sont recueillies les données suivantes :</li>
                        <ul>
                            <li>les noms et prénoms,</li>
                            <li>l’adresse mail.</li>
                        </ul>
                        <li>Il est précisé à l’utilisateur du site Libre & Change le caractère obligatoire ou non des informations qu’il serait amené à fournir.</li>
                        <li>Les informations personnelles collectées par le biais du site Libre & Change sont réservées exclusivement à l'administrateur et ce, dans le but de répondre aux services proposés par le site.</li>
                        <li>Au demeurant Libre & Change est autorisé à effectuer des études et analyses statistiques sur l’utilisation et la typologie des utilisateurs du site Libre & Change sous réserve de confirmer l’anonymat de ces derniers. </li>
                        <h2 class="text-white">Avis aux fabricants et fournisseurs de matériaux.</h2>
                        <li>La publication des annonces est exclusivement réservée aux professionnels du terrain.</br> 
                            Par conséquent, les fournisseurs de matériaux pour la construction sont invités à</br> 
                            contacter l'administrateur pour prendre connaissance des modalités visant à diffuser des offres de ventes promotionnelles.</li>
                        <li>Un espace payant dédié à la publicité permanente du logo de l'enseigne diffuseuse, ainsi qu'un accès exclusif pour la rédaction des annonces sera réservé à cet effet.</li>
                        <h2 class="text-white">Acceptation</h2>
                        <li>Tout utilisateur, tout annonceur, tout acheteur, tout vendeur, déclare en accédant et utilisant le service Libre & change, avoir pris connaissance des présentes Conditions Générales d’Utilisation
                            et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit. Les présentes CGU sont donc pleinement opposables aux utilisateurs, aux annonceurs, aux acheteurs, aux vendeurs.</li>
                    </ol> 
            </div>
        </div>
        <div class="text-center text-white fs-5" >L'adhésion implique l'acceptation des conditions susmentionnées.</div>
        <div class="text-center text-white fs-5" >Pour vous inscrire veuillez cocher la case ci-dessous.</div>
        <div class="text-center text-white">
            <input type="checkbox" id="approuver" name="approuver">
            <label for="approuver">J'ai lu et j'accepte les conditions d'utilisation.</label>
            <div><a id="valider" class="btn btn-success border-light text-center mt-3" href="{{ path('login_new') }}">Inscription</a></div>
        </div>
    </div>
    {% include 'base/footer.html.twig' %}
{% endblock %}
{% block javascripts %}
  <script src="{{ asset('assets/js/conditions.js')}}"></script>
{% endblock %}
