{% extends 'menu/index.html.twig' %}

{% block title %}Envoyer un email{% endblock %}

{% block body %}
  <div id="margin-t" class="container text-center">
    <div class="card w-75 mx-auto bg-transparent border-0 mx-auto">
      <div class="card-body mx-auto">
          <h1 class="h3 mb-3 fs-1 text-light">Envoyer un email</h1>
          {{ form(form) }}
      </div>
    </div>
  </div>
{% endblock %}
