{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1 class="text-center mt-5">Bienvenue chez Build & Compagnie<br>Le rendez-vous des professionnels de la plâtrerie </h1>
    <h2 class="text-center mt-5">Votre site d'opportunités et d'échanges</h2>
    <h3 class="text-center mt-5">Retrouver et diffuser</h3>
        
        <ul id="center" class="fs-3 mt-5 list-unstyled width: 300px height: 300px mx-auto">
            <li>Des propositions de sous-traitance</li>
            <li>Du matériel pour la construction</li>
            <li>De l'outillage neuf ou d'occasion</li>
            <li>Des offres et des demandes d'emploi</li>
        </ul>

{% endblock %}
