{% extends 'base/rebase.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div id="margin-t" class="container text-light">
        <h1 class="text-center mt-5">Mentions légales </h1>
        <div class="card w-75 mx-auto bg-transparent border-0">
            <div class="card-body mx-auto">
                <ul class="text-white fs-5">
                    <li>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé aux utilisateurs du site internet https:l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi:</li>
                    <li>Propriétaire du site : Velez Moïse, auto-entrepreneur de Velez Moïse EIRL – Contact : moisevelez543@gmail.com 0664435663 – Adresse : 9, rue des lilas 67640 Fegersheim.</li>    
                    <li>Identification de l’entreprise : Velez Moïse EIRL Velez Moïse, auto-entrepreneur de Velez Moïse EIRL au capital social de Velez Moïse EIRL € – SIREN : 51086368100035 – RCS ou RM : Immatriculation au RSEIRL: 510863681 RSEIRL Strasbourg – Adresse postale : 9, rue des lilas 67640 Fegersheim.</li>
                    <li>Directeur de la publication :  Velez Moïse – Contact : moisevelez543@gmail.com.</li>
                    <li>Hébergeur : 1&1 IONOS SARL 7, place de la Gare - BP 70109 57201 SARREGUEMINES</li>
                    <li>Délégué à la protection des données : Velez Moïse – moisevelez543@gmail.com.</li>
                </ul>
                <h2>Propriété intellectuelle et contrefaçons.</h2>
                    <ul class="text-white fs-5">
                        <li>Velez Moïse, auto-entrepreneur de Velez Moïse EIRL est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, architecture, icônes et sons.</li>
                        <li>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Velez Moïse EIRL Velez Moïse, auto-entrepreneur de Velez Moïse EIRL .</li>
                        <li>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</li>
                    </ul>
                <h2>Limitations de responsabilité.</h2>
                    <ul class="text-white fs-5">
                        <li>Velez Moïse, auto-entrepreneur de Velez Moïse EIRL ne pourra être tenu pour responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site https://librechange.eu</li>
                        <li>Velez Moïse, auto-entrepreneur de Velez Moïse EIRL décline toute responsabilité quant à l’utilisation qui pourrait être faite des informations et contenus présents sur https://librechange.eu.</li>
                        <li>Velez Moïse, auto-entrepreneur de Velez Moïse EIRL s’engage à sécuriser au mieux le site https://librechange.eu, cependant sa responsabilité ne pourra être mise en cause si des données indésirables sont importées et installées sur son site à son insu.</li>
                        <li>Velez Moïse, auto-entrepreneur de Velez Moïse EIRL se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données.</li>
                        <li>Le cas échéant, Velez Moïse, auto-entrepreneur de Velez Moïse EIRL se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie …).</li>
                    </ul>
                <h2>CNIL et gestion des données personnelles.</h2>
                    <ul class="text-white fs-5">
                        <li>Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’utilisateur du site https://librechange.eu dispose d’un droit d’accès, de modification et de suppression des informations collectées. Pour exercer ce droit, envoyez un message à notre Délégué à la Protection des Données : Velez Moïse – moisevelez543@gmail.com.</li>
                        <li>Pour plus d’informations sur la façon dont nous traitons vos données (type de données, finalité, destinataire…), lisez notre Politique de Confidentialité dans la rubrique " à propos du site ".</li>
                        <li>Il est également possible de déposer une réclamation auprès de la CNIL</li>
                    </ul>
                <h2>Liens hypertextes</h2>
                    <ul class="text-white fs-5">
                        <li>Le site https://librechange.eu contient des liens hypertextes vers d’autres sites et dégage toute responsabilité à propos de ces liens externes ou des liens créés par d’autres sites vers https://librechange.eu</li>
                    </ul>
                <h2>Droit applicable et attribution de juridiction.</h2>
                <ul class="text-white fs-5">
                    <li>Tout litige en relation avec l’utilisation du site https://librechange.eu est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Strasbourg.</li>
                </ul> 
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
