{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
<div class="mt-5">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger text-center" role="alert">{{ message }}</div>
    {% endfor %}
</div>
    <div id="margin-t" class="container text-center">
        <div class="card w-75 mx-auto bg-transparent border-0 mx-auto">
            <div class="card-body mx-auto">
                <h1 class="h3 mb-3 fs-1 text-light">Modifier le mot de passe</h1>

                <form method="post">
                    <div>
                        <label for="pass" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" name="pass" id="pass" required  minlength="6">
                    </div>
                    <div>
                        <label for="pass2" class="form-label">Confirmer le mot de passe</label>
                        <input type="password" class="form-control" name="pass2" id="pass2"required minlength="6" >
                    </div>
                    <button type="submit" class="btn btn-success mt-3 border-light">Valider</button>
                </form>

                <a class="btn btn-primary mt-2 border-light" href="{{ path('admin_profil') }}">Retour au profil</a>
            </div>
        </div>
    </div>

{% endblock %}