{% extends 'base.html.twig' %}

{% block title %}Créer une annonce{% endblock %}

{% block body %}
    
    <div id="margin-t" class="container">
        <h1 class="text-center mt-5 text-light"> Créer un annonce</h1>
        <div class="card w-75 mx-auto bg-transparent border-0 mx-auto">
            <div class="card-body mx-auto">
                <ul class="fs-3 list-unstyled text-light">
                    <li>1: Entrez le titre de l"annonce.</li>
                    <li>2: Rédigez le contenu de votre annonce.</li>
                    <li>3: Pour choisir votre catégorie cliquez dans le champ catégories.</li>
                    <li>4: Cliquez sur "select.fichiers" si vous désirez joindre des photos.</li>
                    <li>5: Validez votre annonce.</li>
                </ul>
            </div>
        </div>   
            <div>{{ include('admin/profil/_form.html.twig') }}
                <a class="btn btn-primary mt-2 mb-4 border-light" href="{{ path('admin_profil') }}">Retour au profil</a>
            </div>
    </div>

{% endblock %}
