{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div id="margin-t1" class="container text-center">
        {% if app.user %}
            <div class="mb-3 text-light fs-3">
                Vous êtes déjà inscrit avec {{ app.user.username }} 
            </div>
        {% else %}
            <div class="card w-75 mx-auto bg-transparent border-0 mx-auto">
                <div class="card-body mx-auto">
                    <h1 class="h3 mb-3 fs-1 text-light">Avant de vous inscrire</br>veuillez lire 
                        <a class="btn btn-primary border-light text-decoration-none" href="{{ path('apropos') }}">À propos du site</a>
                    </h1>
                    
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}