{% extends 'base.html.twig' %}

{% block title %}Modifier les categories{% endblock %}

{% block body %}
    <div id="margin-t" class="container text-center">
        <div class="card w-75 mx-auto bg-transparent border-0 mx-auto">
            <div class="card-body mx-auto">
                <h1 class="text-light">Modifier les categories</h1>

                 {{ include('admin/categories/_form.html.twig', {'button_label': 'Valider'}) }}

                <div><a class="btn btn-primary mt-2 border-light"href="{{ path('admin_categories_index') }}">Retour à l'index</a></div>

                 
                {{ include('admin/categories/_delete_form.html.twig') }}
            
            </div>
        </div>    
    </div>
{% endblock %}