{% extends 'base.html.twig' %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}
    <h1>Créer un catégorie</h1>

    {{ include('admin/categories/_form.html.twig') }}

   <a class="btn btn-primary mt-2 d-block"href="{{ path('admin_categories_index') }}">Retour à l'index</a>
{% endblock %}
