body{
    background: #057dba;
} 
/*Boutons de validation et navigation*/
.btn-primary, .btn-success, .btn-danger{
    width: 190px;
}
#buttonSpacing{
    margin-top: 8%;
}
/*Formulaires et contenu des pages en général*/
#margin-t{
    margin-top: 8%;
}
#margin-t1{
    margin-top: 10%;
}
a{
    color:white;
}
/*logo de la page détail des annonces*/
#change{
    color: white;
}
/*Validation des conditions générales d'utilisation*/
#valider{
    visibility: hidden;
}
/*Couleur des champs input*/
#profil label, #annonces label, #formconnexion label, .class{
    color: white !important;
}
.required{
    color: white;
}
/*Media queries des formulaires et contenu des pages en général*/
@media all and (max-width: 320px){
    #margin-t{
        margin-top: 25%;
    }
}
@media all and (max-width: 360px){
    #margin-t{
        margin-top: 25%;
    }
    #buttonSpacing{
        margin-top: 30%;
    }
}
@media all and (max-width: 576px){
    #margin-t{
        margin-top: 20%;
    }
    #margin-t1{
        margin-top: 20%;
    }
    
}
@media all and (max-width: 768px){
    #buttonSpacing{
        margin-top: 20%;
    }
    #margin-t{
        margin-top: 20%;
    }
    #margin-t1{
        margin-top: 20%;
    }
    #margin-t3{
        margin-top: 10%;
    }
}
