body{
    background: url('../images/const.webp') no-repeat;
} 
/*formulaires et contenu des pages en général*/
#margin-t{
    margin-top: 16%;
}
/*Boutons de validation et navigation*/
.btn-primary, .btn-success, .btn-danger{
    width: 190px;
}
a{
    color:white;
}


