body{
    background: #057dba;
} 
/*formulaires et contenu des pages en général*/
#margin-t{
    margin-top: 16%;
}
#margin-t1{
    margin-top: 5%;
}
/*Boutons de validation et navigation*/
.btn-primary, .btn-success, .btn-danger{
    width: 190px;
}
a{
    color:white;
}
/*logo de la page détail des annonces*/
#change{
    color: white;
}


