{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
  
<div id="margin-t" class="container text-center">
    {% if app.user %}
        <div class="mb-3 text-light fs-3">
            Vous êtes déjà inscrit avec {{ app.user.username }} 
        </div>
    {% else %}
        <div class="card w-75 mx-auto bg-transparent border-0 mx-auto">
            <div class="card-body mx-auto">
                <h1 class="h3 mb-3 fs-1 text-light">S'inscrire</h1>
                {{ include('user/_form.html.twig', {'button_label': 'Valider'}) }}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
